.cart-container{
    background-color: white;
    height: 100%;
    background-size: cover;
}

.cart-container button{
    margin: 10px 5px;
}

.cart-container .final-price{
    margin: 10px 5px;
}

.buyer-data{
    padding: 10px;
}

.buyer-data form{
    display: flex;
    width: 40%;
    flex-direction: column;
    margin-bottom: 20px;
}