.item-list-container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.item-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item-list .card{
  background-color: rgba(255, 255, 255, 0.847);
  border: 1px solid black;
}

.item-list .card-body .card-name{
  margin: 10px 0px;
}

.item-list .card-body .card-desc{
  color: #777777;
  font-size: 20px;
  margin: 5px;
}

.item-list .card-body .card-price{
  font-size: 30px;
  margin: 0;
}

.buscador{
  display: flex;
  height: 30px;
  margin: 30px 0px;
}

.buscador h2{
  padding: 0px 10px;
}
.buscador input{
  width: 600px;
}