@font-face {
    font-family: "Crysys";
    src: url("../../fonts/OldeStencil.ttf")
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
}

.navbar .item-category-nav li a {
    text-decoration: none;
    list-style: none;
    color: white;
    transition: 0.5s;
}

.navbar .item-category-nav li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: white;
}

.navbar .item-category-nav li a:hover{
    transition: 0.5s;
    color: blue;
}

.navbar .left-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    color: white;
}

.navbar .left-nav h1{
    font-family: "Crysys", Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 10px;
}

.navbar .rigth-nav a{
    text-decoration: none;
}

#crysis_logo {
    width: 50px;
    height: auto;
    transition: 1s;
}
#crysis_logo:hover {
    width: 55px;
    background-color: #3f3f3f;
    border-radius: 10px;
    transition: 0.4s;
}