.item-detail{
    height: 100vh;
    background-color: white;
}

.only-one-item{
    display: flex;
    width: 100%;
}

.only-one-item-img{
    width: 45%;
    border: 1px solid black;
    border-radius: 5px;
}

.only-one-item-info{
    margin: 50px;
}
